$main_color: #CC0600;


// font-size
$font_size_600: 36px;
$font_size_500: 28px;
$font_size_400: 20px;
$font_size_300: 16px;
$font_size_200: 14px;
$font_size_100: 12px;

// font-weight
$font_weight_bold: 700;
$font_weight_semibold: 600;
$font_weight_normal: 400;